.projectName{
	color:white;
	padding-top:5px;
}
.top-blank{
	padding-top:80px;
}

.Scoretext{
		
}

.alter{
	background-color: #ffcccc;
	color: #b30000;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	margin-left: 15px;
	
}